
.about-us {
    padding: 20px;
    background-color: lightcyan;
  }
  
  .about-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .mission-section, .team-section, .contact-section {
    margin-bottom: 20px;
  }
  
  .mission-title, .team-title, .contact-title {
    font-size: 20px;
    font-weight: semi-bold;
  }
  
  .mission-description {
    font-size: 14px;
    width: 800px;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  
  .team-members {
    display: flex;
    gap: 20px;
  }
  
  .team-member {
    text-align: center;
    margin-left: 50px;
  }
  
  .team-member-image {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
  }
.team-member-image:hover {
    border-radius: 10%;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 255, .2);
}
  
  .team-member-name {
    font-weight: 900;
  }
  
  .team-member-role {
    font-size: 12px;
    color: rgba(0, 0, 255, .2);
    font-weight: 400;
  }
  
  .contact-email, .contact-phone {
    font-size: 14px;
  }
  
  .mission-section{
    border: 2px solid blue;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border-radius: 10px;
  }
  .mission-description{
    text-align: center;
    margin-left: 160px;
  }





